<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kinan</title>
    <link rel="stylesheet" type="text/css" href="{% static '/web/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/web/bootstrap/css/bootstrap.css' %}" />
        <style>
    body{
       background-color:#D7CEC7;
    }
    a:link {
      color: #C09F80;
      font-size:20px;
      font-weight:bold;
      text-decoration: none;
    }

    a:visited {
      color: #C09F80;
      text-decoration: none;
    }

    a:hover {
      color: #C09F80;
      text-decoration: none;
    }

    a:active {
      color: #C09F80;
      text-decoration: none;
    }
    </style>
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-dark">
      <a href="{% url 'return_first' %}" class="mr-4">Return</a>
      <label style="font-size:24px; color:white;" class="mr-auto">Supervise Detail</label>
      <a href="/web/show_machine_history/?mac={{ mac }}">History</a>
  </nav>
  <table class="table table-striped table-bordered mt-1">
      <tr><th>mac</th><td colspan="3">{{mac}}</td></tr>
      <tr><th>site</th><td>{{site}}</td><th>level</th><td>{{level}}</td></tr>
      <tr><th>longitude</th><td>{{lon}}</td><th>latitude</th><td>{{lat}}</td></tr>
      <tr><th>record time</th><td>{{rec_time | date:"Y-m-d H:i:s" }}</td><th>status</th><td>{{status}}</td></tr>
  </table>
  <label style="font-size:20px; color:#76323F">■ Permission List</label>
<table class="table table-striped table-bordered mt-1">
  <thead>
    <tr>
      <th>No.</th>
      <th>permitted user title</th>
    </tr>
  </thead>
  <tbody>
    {% if permission_list is not None %}
    {% for rec in permission_list %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ rec.user_title }}</td>
    </tr>
    {% endfor %}
    {% endif %}
</table>

</body>
</html>